<launch>
    <!--TODO: Camera Pose Publisher  -->
    <!--TODO: initiate position of uav in simulator.xml to 0.0 0.0 0.0  -->

    <!-- Load parameters -->
    <rosparam command="load" file="$(find uav_nav)/config/navigation.yaml" />
    <rosparam command="load" file="$(find uav_nav)/config/controller.yaml" />
    
    <!-- Remap Topics -->
    <remap from="/state_ukf/odom" to="/mavros/local_position/odom"/>
    <remap from="/pcl_render_node/camera_pose" to="/camera/pose"/>
    <remap from="/pcl_render_node/depth" to="/camera/depth/image_raw"/>
    
    <!-- Launch Fast Planner using kino_replan -->
    <include file="$(find plan_manage)/launch/kino_replan.launch"/>
    
    <!-- Run Map server node  -->
    <arg name="map_file" default="$(find uav_nav)/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    
    <!-- Fix Tf tree -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 /world /map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 /map /odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_baselink" args="0 0 0 0 0 0 1 /odom /base_link" />

    <!-- Rviz Visualization -->
    <node name="rviz_visualization" pkg="rviz" type="rviz" output="log" args="-d $(find uav_nav)/rviz/uav_config.rviz" />

    <!-- Launch UAV Navigation Node -->
    <node name="uav_navigation_node" pkg="uav_nav" type="uav_navigation_node" output="screen"/>
    
</launch>